@font-face {
  font-family: "PT Sans Bold";
  src: url("./fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: "PT Sans Regular";
  src: url("./fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeue-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f9;
  font-family: "PT Sans Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  user-select: none;
  -moz-user-select: none;
}
