.prev,
.next {
  position: absolute !important;
  z-index: 4 !important;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.prev {
  left: 15px !important;
}
.next {
  right: 15px !important;
}

.swiper-slide {
  width: auto !important;
}
